.dataTables_paginate{
	float:right;
	padding-bottom:20px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
    color: #999;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
    pointer-events: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    position: relative;
    padding: .5em 1em;
    text-decoration: none;
    line-height: 1.2;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    margin-bottom: 5px;
    margin-right: 5px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    box-sizing: border-box;
    z-index: 2;
    color: #fff;
    background-color: #0e90d2;
    border-color: #0e90d2;
    cursor: pointer;
}
table.dataTable thead .sorting {
    background: url("../img/sort_both.png") no-repeat center right;
}
table.dataTable thead .sorting_desc {
    background: url("../img/sort_desc.png") no-repeat center right;
}
table.dataTable thead .sorting_asc {
    background: url("../img/sort_asc.png") no-repeat center right;
}
table.dataTable thead .sorting_asc, 
table.dataTable thead .sorting_desc, 
table.dataTable thead .sorting {
    cursor: pointer;
}
.dataTables_wrapper .dataTables_filter label {
    float: right;
}
.dataTables_filter label input{
	font-weight:normal;
	margin-left:10px;
}