body {
	/* margin: 0 auto;
	font-family: Arial,"微軟正黑體", "新細明體"; */
}

.font-bold {
	font-weight: bold;
}

.clickable {
	cursor: pointer;
}

.clickableText {
	color: #11c;
	cursor: pointer;
}
.clickableText:hover {
	color: #59A8D4;
}

.clickableLink {
	color: #11c;
	cursor: pointer;
}
.clickableLink:hover {
	text-decoration: underline;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}

a{
	cursor:pointer;
    text-decoration: none;
}

.ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.td-title {
	max-width: 200px;
}
.td-name {
	max-width: 120px;
}
.td-content {
	max-width: 300px;
}

.line-feed {
	word-break: break-all; 
	word-wrap:break-word;
}

.padding-left-o {
	padding-left: 0!important;
}
.padding-right-o {
	padding-right: 0!important;
}
.padding-horizontal-o {
	padding-left: 0px!important;
	padding-right: 0px!important;
}
.padding-vertical-o {
	padding-top: 0px!important;
	padding-bottom: 0px!important;
}
.margin-bottom-o {
	margin-bottom: 0!important;
}
.margin-vertical-o {
	margin-top: 0px!important;
	margin-bottom: 0px!important;
}
.font-normal {
	font-weight: normal;
}
.radiu-4 {
    border-radius: 4px!important;
    -moz-border-radius: 4px!important;
    -webkit-border-radius: 4px!important;
}
.text-bold {
	font-weight: bold!important;
}
.border-bottom {
	border-bottom: 1px solid #ddd;
}