html, body {
	margin: 0;
	padding: 0;
}
body {
    font: 12px/26px "宋体","微软雅黑",Arial;
    color: #666;
    min-width: 1000px;
    background: url(../img/service/mainBg.png) repeat;
}
a {
    text-decoration: none;
    color: #317896;
}
#top {
    height: 105px;
    width: 100%;
    min-width: 1000px;
    background: url(../img/service/topBg.png) repeat-x;
    text-align: center;
}
.con100px {
    width: 1000px;
    margin: 0 auto;
}
.login a {
    float: right;
    color: #a6cddc;
    padding: 0 5px;
}
.topmid {
    float: left;
    height: 83px;
    width: 185px;
    line-height: 83px;
    font-size: 34px;
    font-family: "微软雅黑","宋体";
    color: #fff;
    text-align: center;
    margin: 0 0 0 10px;
    font-weight: bold;
    letter-spacing: 2px;
}
.topmid a {
    font-weight: lighter;
    letter-spacing: 2px;
    height: 83px;
    width: 170px;
    line-height: 83px;
    font-size: 34px;
    font-family: "微软雅黑","宋体";
    color: #fff;
}
#menu {
    height: 36px;
    width: 100%;
    min-width: 1000px;
    background: #1f6e8d;
    clear: both;
}
#menu ul {
    width: 1000px;
}
#menu ul li {
    float: left;
}
#menu ul li a {
    height: 36px;
    width: 94px;
    display: block;
    font: 12px/36px "微软雅黑";
    color: #fff;
    text-align: center;
    text-decoration: none;
}
#menu ul li a:hover {
    background: #f88a00;
}
#menu ul li a.menuhover {
    background: #f88a00;
}
.currentNav {
    height: 50px;
    text-align: left;
    line-height: 53px;
    padding-left: 22px;
    background: url(../img/service/sq.jpg) no-repeat 10px center;
}
.currentNav a {
    color: #666;
}
#content {
    background: url(../img/service/mainBg.png) repeat;
    width: 100%;
    overflow: hidden;
}
.banner {
    height: 275px;
    width: 1000px;
    margin: 0 auto;
}
.banner .banner-left-rlzy {
    background: url(../img/service/banner_left.jpg) no-repeat;
}

.banner .banner-left {
    width: 310px;
    height: 275px;
}
.banner .banner-left h1 {
    height: 120px;
    font: 36px/120px "微软雅黑";
    font-weight: bold;
    color: #fff;
    padding-left: 20px;
}
.banner .banner-left ul.sl-list {
    padding-left: 12px;
    height: auto;
}
.banner .banner-left ul.sl-list li {
    width: 86px;
    height: 30px;
    background: url(../img/service/banner_left_btnBg.png) no-repeat;
    float: left;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    margin: 0 0 10px 8px;
    display: inline;
}
.about-article {
    width: 998px;
    overflow: hidden;
    margin: 15px 0 40px;
    background: #fff;
    border: 1px solid #d4d4d4;
}
.about-article ul.articleNav {
    height: 50px;
    background: #f4f4f4;
    font-family: "微软雅黑","宋体";
    border-bottom: 1px solid #d4d4d4;
}
.about-article ul.articleNav li.articleNavHover {
    border-bottom: none;
    height: 47px;
    margin-bottom: 1px;
    padding-top: 0;
    border-top: 4px solid #32789a;
    background: #fff;
}
.about-article ul.articleNav li {
    float: left;
    position: relative;
    width: 125px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    padding-top: 4px;
    border-bottom: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    cursor: pointer;
}
.about-article ul.articleNav li span {
    font-size: 16px;
    color: #317896;
}
.about-article div.main-article .sphy-article1 {
    text-align: center;
}
#footer {
    background: #2d7a98;
    height: 36px;
    width: 100%;
    min-width: 1000px;
    clear: both;
}
.foot {
    text-align: center;
}
.foot p {
    line-height: 36px;
    color: #9ac5cc;
}
