body {
    font-family: Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
    position: relative;
    color: #333;
}
ul, body {
	margin: 0;
	padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.pagebanner {
    position: relative;
    clear: both;
    line-height: 0;
}
.pagebanner img {
    width: 100%;
}
.pagebanner .bannertitle {
    background: rgba(0,0,0,0.5) url(../img/wx/bannerbg2.png) no-repeat bottom right;
    height: 35px;
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 100%;
    background-size: 38%;
}
.pagebanner .bannertitle .titlebg {
    height: 100%;
    padding-right: 35px;
    background: url(../img/wx/bannerbg1.png) no-repeat bottom right;
    float: left;
}
.pagebanner .bannertitle .titlebg .tit {
    height: 100%;
    padding: 0 15px;
    background-color: #03a9f4;
    color: #fff;
    font-size: 22px;
    line-height: 35px;
    float: left;
}
.mo-list {
	font-size: 13px; 
	padding-bottom: 20px;           
}
.mo-list li {
    padding: 8px;
    border-bottom: 1px solid #eee;
    margin: 0;
    background-color: #fff;
    min-height: 50px;
}
.mo-list li.noimg-item {
	min-height: initial;
}
.mo-list li>a {
    padding: 0 20px 0 0;
    display: block;
    box-sizing: border-box;
    color: #333;
}
.mo-list.picinfo .pic {
    float: left;
    margin: 0 10px 0 0;
    width: 50px;
    height: 50px;
    clear: both;
}
.mo-list.picinfo .pic img {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    overflow: hidden;
    clear: both;
}
.mo-list .title {
    font-size: 18px;
    padding: 0 0 5px;
    max-height: 60px;
    overflow-y: hidden;
    line-height: 22px;
}
.mo-list .time {
    font-size: 16px;
    color: #999;
    padding-left:60px
}
.mo-list .noimg-item .time {
	padding-left: 0;
}

#content {
	border: 1px solid #DDD;
    border-radius: 3px;
    overflow: hidden;
    padding: 10px;
    margin: 5px;
    min-height: 600px;
}
#content * {
	line-height: auto;
	text-indent: inherit;
}
#content p {
	padding-bottom: 0px;
}
.dynamicinfo-title {
	text-align: left;
	font-size: 22px;
	word-spacing: 16px;
	margin-bottom: 5px;
	margin-top: 0;
}
.dynamicinfo-time {
	color: #999;
	margin-bottom: 15px;
	font-size: 12px;
}